---
// src/components/sections/about.astro
const lang = Astro.currentLocale || 'ca';

const t = {
    titulo: "Kontrast #6!",
    descripcion_1: lang === 'en' 
        ? "Kontrast is a festival of free art, as is contemporary circus. Circus and music serve to ignite a kind of imaginary movement formed by the audience, artists and free travellers who oppose art generated and controlled by algorithms, controlled by companies controlled by algorithms, controlled by cameras controlled by algorithms, controlled by satellites controlled by algorithms, for spectators controlled by algorithms..."
        : "Kontrast és un festival d’art lliure, com ho és el circ contemporani. El circ i la música serveixen per encendre una mena de moviment imaginari format pel públic, els artistes i els viatgers lliures que s’oposen a l’art generat i controlat per algoritmes, controlats per empreses controlades per algoritmes, controlades per càmeres controlades per algoritmes, controlades per satèl·lits controlats per algoritmes, per espectadors controlats per algoritmes...",
    descripcion_2: lang === 'en'
        ? "When walking down the street, reading the news in the media, looking out the window of the train we are travelling on, or even inside the wagon, many of us feel the sensation of seeing a world turned upside down. War is an instrument of peace, verbal arrogance has replaced dialogue, reasoning has been replaced by primal emotions. Silent children, but also adults, are absorbed in their captivating little screens while armies destroy cities and lives. People fleeing bombs are considered a dangerous threat. The panorama of things turned upside down is endless. Virtual relationships directly replace real ones. Reality is dematerialised, the world “flies upside down”, perhaps as it always has."
        : "Quan caminem pel carrer, llegim les notícies als mitjans de comunicació, mirem per la finestra del tren en què viatgem, o fins i tot dins del vagó, molts sentim la sensació de veure un món cap per avall, al revés. La guerra és l’instrument de la pau, l’arrogància verbal ha substituït el diàleg, el raonament ha estat substituït per les emocions primàries. Els nens silenciosos, però també els adults, estan submergits en les seves petites pantalles captivadores mentre exèrcits destrueixen ciutats i vides. Les persones que fugen de les bombes són considerades una amenaça perillosa. El panorama de les coses al revés és infinit. Les relacions virtuals substitueixen directament les reals. La realitat es desmaterialitza, el món “vola cap per avall”, potser, com sempre.",
    invitacion: lang === 'en'
        ? "The circus could be described as the art of turning things upside down. Walking with your hands instead of your feet, flying, creating other worlds, developing your psychophysical potential to the maximum and taking it beyond the usual limits. So it seems to us that a circus festival can be a kind of antidote, a tool for reversal. Something that might serve to counteract the cruel drift of society through physical and artistic resistance to imposed limits, to kontrast art as an instrument for demagoguery, to kontrast the boredom and loneliness that deepens the technological landscape, to kontrast that system which, unfortunately, has self-destruction as its existential driving force."
        : "El circ podria descriure’s com l’art del tomb. Caminar amb les mans en lloc dels peus, volar, crear altres mons, desenvolupar al màxim el potencial psicofísic i portar-lo més enllà dels límits habituals. Així, ens sembla que un festival de circ pot ser una mena d’antídot, una eina invertidora. Alguna cosa que potser serveixi per kontrastar la cruel deriva de la societat a través de la contestació física i artística dels límits imposats, per kontrastar l’art com a instrument de demagògia, per kontrastar l’avorriment i la solitud que desplega el panorama tecnològic, per kontrastar aquest sistema que, lamentablement, té com a motor existencial l’autodestrucció.",
    plat_fort: lang === 'en'
        ? "Of course... we are all part of the system, but come and kontrast a little with us."
        : "Clar… tots/es formem part del sistema, veniu a kontrastar-vos una mica.",
    etimologia: lang === 'en'
        ? "El nom del festival és Kontrast. Contrasti és el nom que els circenses italians han estat utilitzant durant generacions per referir-se als artistes que no pertanyen a la dinastia, és a dir, aquells que no provenen de famílies de circ tradicional. Això som nosaltres! Contrastos, sense dogmes a respectar: 100% pur circ."
        : "El nom del festival és Kontrast. Contrasti és el nom que els circenses italians han estat utilitzant durant generacions per referir-se als artistes que no pertanyen a la dinastia, és a dir, aquells que no provenen de famílies de circ tradicional. Això som nosaltres! Contrastos, sense dogmes a respectar: 100% pur circ.",
};
---

<div class="contenedor-about">
    <!-- <h2 class="anim-left">{t.titulo}</h2> -->
<img src="/img/kontrast6.webp" alt="kontrast6" class="titulos" style="display: block; margin: 0 auto; width: clamp(300px, 80vw, 1000px); margin-top: 5vh;">
    <div class="about">
        <div style="width: 100%;">
            <div style="height: 5vh;"></div>
            <p style="text-align: center; margin: 0 auto;">
                {t.descripcion_1}
                <br><br>
                {t.descripcion_2}
                <br><br>
                {t.invitacion}
                <br><br>
                {t.plat_fort}

            </p>
            <div style="height: 10vh;"></div>
            <p class="p2">{t.etimologia}</p>
        </div>
    </div>
</div>